#snake-area {
  border: solid 3px black;
  margin: auto;
  display: block;
  margin-top: 30px;
}

#score-wrapper {
  width: 506px;
  margin: auto;
}

#score {
  height: 40px;
  text-align: center;
  border-left: solid 3px black;
  border-right: solid 3px black;
  border-bottom: solid 3px black;
  width: 110px;
  margin: auto;
  /*margin-top: -40px;*/
  float: right;
  padding: 8px;
}
