#snake-area {
  border-top: solid 3px blue;
  border-right: solid 3px blue;
  border-left: solid 3px blue;
  margin: auto;
  display: block;
  margin-top: 30px;
  background-color: black;
}

#info {
  width: 505.6px;
  margin: auto;
  height: 80px;
  border: solid 3px blue;
  margin-bottom: 40px;
}

#hiscore-area, #img-area {
  border-right: solid 3px blue;
}

#hiscore-area, #score-area {
  text-align: center;
}

#ouro {
  height: 100%;
  width: 100%;
  padding-top: 3px;
}

#score, #hiscore {
  margin-bottom: 0px;
  font-size: 20px;
}

.info-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
