#snake-area {
  border: solid 3px black;
  margin: auto;
  display: block;
  margin-top: 30px;
}

#info {
  width: 506px;
  margin: auto;
  height: 35px;
  border-left: solid 3px black;
  border-right: solid 3px black;
  border-bottom: solid 3px black;
}

#hiscore-area, #color-area {
  border-right: solid 3px black;
}

#hiscore-area, #score-area {
  text-align: center;
  margin: auto;
  padding: 6px;
}

#color-area {
  text-align: center;
}

#color-swap-btn {
  height: 32px;
}

.col-sm-4 {
  width: 33%;
  height: 100%;
}

.info-col {
}
